<!-- <div class="row">
    <div class="col">
        <li class="list-group-item">
            <a href="javascript:void(0)" (click)="searchProduct('Daily Wear Palazzos')">
                Daily Wear Palazzos
            </a>
        </li>
        <li class="list-group-item">
            <a href="javascript:void(0)" (click)="searchProduct('palazzo pants for women')">
                palazzo pants for women
            </a>
        </li>
        <li class="list-group-item">
            <a href="javascript:void(0)" (click)="searchProduct('Bestseller Plazzo')">
                Bestseller Plazzo
            </a>
        </li>
        <li class="list-group-item">
            <a href="javascript:void(0)" (click)="searchProduct('Deal of the day')">
                Deal of the day
            </a>
        </li>
    </div>
</div> -->

<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let item of apiService.searchResults">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top product-thumb" [src]="item.Images.Primary.Large.URL" alt="...">
            <div class="card-body">
                <h5 class="card-title"> {{item.ItemInfo.Title.DisplayValue}} </h5>
                <!-- <p class="card-text"> </p> -->
                <P> Regular Price: {{item.Offers.Listings[0].Price.Savings.DisplayAmount}}</P>
                <P> Sale Price: {{item.Offers.Listings[0].Price.DisplayAmount}}</P>
                <a class="btn btn-primary" [href]="item.DetailPageURL" target="_blank"> Shop Now </a>
            </div>
        </div>
    </div>
</div>