<div class="row">
    <div class="col">
        <img class="img-fluid" src="assets/img/deal-of-the-day.png" alt="shopping">
    </div>
    <div class="col">
        <div style="margin-top: 100px;">
            <h1> Shop Latest Deals Of The Day From Here </h1>
            <p class="text-center" style="margin-top: 50px;">
                <a routerLink="/shop" class="btn btn-primary"> Checkout Deals of the day </a>
            </p>
        </div>
    </div>
</div>

<div class="row mt-3 mb-3">
    <div class="col">
        <img class="img-fluid" src="assets/img/women-fashion.jpg" alt="shopping">
    </div>
    <div class="col">
        <div style="margin-top: 100px;">
            <h1> Shop Latest Women Fashion Deals From Here </h1>
            <p class="text-center" style="margin-top: 50px;">
                <a href="javascript:void(0)" class="btn btn-primary" (click)="searchProducts('Checkout Women Fashion')"> Checkout Women Fashion </a>
            </p>
        </div>
    </div>
</div>

<div class="row mt-3 mb-3">
    <div class="col">
        <img class="img-fluid" src="assets/img/men-fashion.jpg" alt="shopping">
    </div>
    <div class="col">
        <div style="margin-top: 100px;">
            <h1> Shop Latest Men Fashion Deals From Here </h1>
            <p class="text-center" style="margin-top: 50px;">
                <a href="javascript:void(0)" class="btn btn-primary" (click)="searchProducts('Checkout Men Fashion')"> Checkout Men Fashion </a>
            </p>
        </div>
    </div>
</div>