<header>
    <div class="row">
        <div class="col-3">
            <h1>
                <!-- <a routerLink="/">DealsLive</a> -->
                <a routerLink="/">
                    <img class="logo" src="assets/img/logo-rec.png" alt="DealsLive">
                </a>
            </h1>
        </div>
        <div class="col-6">
            <div class="input-group mb-3 mt-3">
                <input #searchInput type="text" class="form-control" placeholder="Search" (keyup)="onPressEnter($event, searchInput.value)">
                <i class="fa fa-search fa-lg search-icon" aria-hidden="true" (click)="searchProducts(searchInput.value)"></i>
            </div>
        </div>
    </div>
</header>

<section class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="javascript:void(0)" (click)="navigateTo('Deal of the day')">
                        Deal of the day
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="javascript:void(0)" (click)="navigateTo('Best Seller')">
                        Best Seller
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="javascript:void(0)" (click)="navigateTo('Men Fashion')">
                        Men Fashion
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="javascript:void(0)" (click)="navigateTo('Women Fashion')">
                        Women Fashion
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="javascript:void(0)" (click)="navigateTo('Kids Fashion')">
                        Kids Fashion
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="javascript:void(0)" (click)="navigateTo('Daily Wear Palazzos')">
                        Daily Wear Palazzos
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="javascript:void(0)" (click)="navigateTo('palazzo pants for women')">
                        palazzo pants for women
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="javascript:void(0)" (click)="navigateTo('Top 10 smart watches')">
                        Top 10 smart watches
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="javascript:void(0)" (click)="navigateTo('Top 10 laptop under 40000')">
                        Top 10 laptop under 40000
                    </a>
                </li>

                <!-- ============================================== -->
                <li class="list-group-item">
                    <a href="javascript:void(0)" (click)="navigateTo('Smart watches under 1000')">
                        Smart watches under 1000
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="javascript:void(0)" (click)="navigateTo('Professional laptop under 40000')">
                        Professional laptop under 40000
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>

<footer>
    <div class="container-flud">
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-6">
                <div class="mb-3 mt-3">
                    <p class="text-center"> All Right Reserved @ DealsLive </p>
                </div>
            </div>
            <div class="col-3">

            </div>
        </div>
    </div>
</footer>